[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
edge-tts = "*"
openai = "*"
easygui = "*"
python-dotenv = "*"
torchvision = "*"
torchaudio = "*"
openai-whisper = "*"
ffmpeg-python = "*"

[dev-packages]
