edge-tts
ffmpeg-python
python-dotenv
rich
tqdm
yt-dlp==2024.8.6
torch
torchaudio
torchvision
mkdocs-material
openai-whisper==20231117
stable-ts==2.15.6
tiktok-uploader
streamlit
praw
requests
openai==1.12.0
