name: CI Style Checks
on:
  # Run on manual trigger
  workflow_dispatch:

  # Run on pull requests
  pull_request:
    paths-ignore:
      - '*.md'

  # Run on merge queue
  merge_group:

  # Run when pushing to main or dev branches
  push:
    branches:
      - main
      - dev*

  # Run scheduled CI flow daily
  schedule:
    - cron: '0 8 * * 0'

jobs:
  style:
    name: Style Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Pre-install
        run: |
          sudo apt-get update
          sudo apt-get -y -q install ffmpeg libavcodec-extra

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -q -r requirements_test.txt
          pip install pytest pycodestyle pylint mypy black ruff types-six types-PyYAML types-setuptools

      - name: pycodestyle
        run: pycodestyle --ignore=C0330,C0415,E203,E231,W503 --max-line-length=120 whisper_tiktok

      - name: pylint
        if: ${{ always() }}
        run: pylint --fail-under=9.6 whisper_tiktok

      - name: mypy
        if: ${{ always() }}
        run: mypy whisper_tiktok

      - name: ruff
        if: ${{ always() }}
        run: ruff check whisper_tiktok tests/

      - name: black
        if: ${{ always() }}
        run: |
          black --line-length 120 --check whisper_tiktok
          black --line-length 120 --check tests/