name: CI Style Checks

on:
  push:
    branches:
      - main
      - dev*
  pull_request:
    paths-ignore:
      - '*.md'

jobs:
  style:
    name: Style Checks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Pre-install
        run: |
          sudo apt-get update
          sudo apt-get -y -q install ffmpeg libavcodec-extra

      - name: Install the project
        run: uv sync --extra dev

      - name: ruff
        run: uv run ruff check whisper_tiktok

      - name: black
        run: uv run black --line-length 88 --check whisper_tiktok

      - name: mypy
        run: uv run mypy whisper_tiktok

      - name: pylint
        run: uv run pylint --fail-under=9.6 whisper_tiktok
