name: ci
on:
    push:
        branches:
            - main
permissions:
    contents: write
jobs:
    deploy:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ["3.12"]
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-python@v6
              with:
                  python-version: ${{ matrix.python-version }}
            - uses: actions/cache@v4
              with:
                  key: ${{ github.ref }}
                  path: .cache

            - run: pip install mkdocs-material
            - run: mkdocs gh-deploy --force
